main.authMain {
  position: fixed;
  width: 100%;
  height: 100%;
}

div.logo {
  position: absolute;
  z-index: 1001;
}

div.logo>a>img {
  margin: 1rem;
  width: 40px;
}

section.sectionRegister {
  display: grid;
  align-items: end;
  height: 100%;
}

article.authArticle {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

fieldset.authFieldset {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  max-width: 80%;
  max-height: 100%;
  background: #3333338f;
  border: none;
  padding: 1.5rem;
  border-radius: 20px;
}


fieldset.authFieldsetLogin {
  display: grid;
  place-items: center;
  width: 35%;
  height: 50%;
  border-radius: 20px;
  background: #3333338f;
  border: none;
}

form.authForm {
  display: grid;
  place-items: center;
}

form.authForm.login {
  height: 100%;
}

.forgot-pass {
  display: grid;

}

.forgot {
  cursor: pointer;
  font-size: 12px;
  color: #1fdf64;
  font-weight: bold;
  padding: 0rem 1rem 0rem 1rem;
}

.forgot:hover {
  color: #1fdf65e0;
}

fieldset.authFieldset>div.imgFront>img {
  width: 50%;
  height: auto;
}

fieldset.authFieldsetLogin>img {
  width: 50%;
  height: auto;
}

div.authField {
  position: relative;
  padding: 1rem;
}

div.authFieldLogin {
  padding: 3rem;
}

.align-input {
  display: grid;
  gap: 1.5rem;
}

div.authField>legend {
  color: #1fdf64;
  font-weight: bold;
}

.authField label,
.authFieldLogin label {
  font-size: 15px;
  color: #1fdf64;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;
  transition:
    transform 0.3s ease-out,
    font-size 0.3s ease-out;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* Inverte as cores do ícone (preto para branco, branco para preto) */
}

input:-webkit-autofill::placeholder {
  color: #ff0000;
}

div.authField.auth>input,
.authFieldLogin.auth>input {
  inline-size: 18rem;
  font-size: 20px;
}

div.authField>input,
.authFieldLogin>input {
  inline-size: 12rem;
  border: none;
  border-bottom: solid 2px grey;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  color: white;
}

div.authField.auth>label {
  font-size: 18px;
}

div.authField>label.active,
div.authField>input:focus+label,
div.authField>input:not(:placeholder-shown)+label,
div.authFieldLogin>label.active,
/* Adicione a vírgula aqui */
div.authFieldLogin>input:focus+label,
/* Adicione a vírgula aqui */
div.authFieldLogin>input:not(:placeholder-shown)+label {
  transform: translateY(-100%) scale(0.9);
  /* Adicionado escala para ajustar o tamanho do rótulo */
  font-size: 12px;
  color: #5ec57e;
}

/* Adicione esta regra para estilizar rótulos quando o mouse passa sobre o input */
div.authField>input:hover+label,
div.authFieldLogin>input:hover+label {
  /* Adicione a vírgula aqui */
  transform: translateY(-100%) scale(0.9);
  font-size: 12px;
  color: #5ec57e;
}

/* Adicione esta regra para reestilizar rótulos quando o input não estiver vazio e não estiver em foco */
div.authField>input:not(:focus):not(:placeholder-shown)+label,
div.authFieldLogin>input:not(:focus):not(:placeholder-shown)+label {
  /* Adicione a vírgula aqui */
  transform: translateY(-100%) scale(0.9);
  font-size: 12px;
  color: #5ec57e;
}


.togglePassword {
  position: absolute;
  color: white;
  left: 11.9rem;
}

.togglePassword.auth {
  left: 17.8rem;
}

.togglePassword img {
  width: 20px;
  filter: invert(1);
}

form.authForm>div.btn {
  display: grid;
  place-items: center;
}

form.authForm>div.btn>a>span {
  font-size: 10px;
  color: rgba(0, 255, 136, 0.779);
  font-weight: bold;
  cursor: pointer;
}

form.authForm>div.btn>a>span:hover {
  color: #1fdf65e0;
}


div.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

div.errorModal {
  background-color: #000;
  height: auto;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #333;
}

div.errorIcon {
  display: flex;
  align-items: center;
  padding: 5px;
}

div.errorMessages {
  font-weight: bold;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

div.modalOpacity {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 999;
}

strong {
  color: #1fdf64;
}

strong::after {
  content: ":";
}

.authFieldImage {
  display: grid;
  place-items: center;
  color: white;
}

.imagePreview {
  display: grid;
  place-items: center;
}

.imagePreview img {
  width: 500px;
  max-width: 50%;
  border: dotted 2px grey;
  border-radius: 50%;
  cursor: pointer;
}

.authFieldImage>span {
  position: absolute;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.515);
}

@media (max-width: 750px) {
  fieldset.authFieldset {
    justify-content: center;
  }

  div.authField.auth>input,
  .authFieldLogin.auth>input {
    inline-size: 12rem;
  }

  .togglePassword.auth {
    left: 11.9rem;
  }
}

/* ---- Button Register Style ---- */
.ui-btn {
  --btn-default-bg: #1fdf64;
  --btn-padding: 8px 120px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fff;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border: 2px solid #2a2b3a;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-default-bg);
  box-shadow: 0px 0px 10px 0px #fff(119, 68, 255, 0.7);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

/* ---- Responsive ---- */
@media (max-width: 765px) {
  main.authMain>div.WelcomeDescWave {
    display: none;
  }

  div.logo {
    position: absolute;
  }

  section.sectionRegister {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  fieldset.authFieldset>div.imgFront>img {
    width: 100%;
  }
}

@media (max-width: 520px) {
  fieldset.authFieldset>div.imgFront>img {
    display: none;
  }

  fieldset.authFieldsetLogin>img {
    display: none;
  }

  fieldset.authFieldset {
    background-color: #80808029;
    border-radius: 1rem;
  }

  form.authForm {
    padding: 1rem;
  }

  div.authFieldLogin {
    padding: 0;
    margin: 3rem 0 3rem 0;
  }
}