/* =============== Importação de Fontes =============== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

/* =============== Estilo Geral da Página =============== */
main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6DBF63;
}

/* =============== Estilo da Seção Inicial =============== */
main > article.homeArticle {
    display: grid;
    place-items: center;
    height: 100%;
}

main > article.homeArticle > .homeSection {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 250px;
}

main > article.homeArticle > .homeSection > h2 {
    font-size: 45px;
}

main > article.homeArticle > .homeSection > span {
    font-weight: bold;
    font-size: 15px;
}

/* =============== Estilo do Botão =============== */
main > article.homeArticle> section > div.homeDivTxtButton > div.btn {
    padding: 20px;
}

main > article.homeArticle > section > div.homeDivTxtButton > div.btn > a > button {
    margin: 10px;
    padding: 12px 30px;
    border-radius: 50px;
    border: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    position: relative;
    z-index: 1000;
    color: black;
    cursor: pointer;
    background-color: white;
}

main > article.homeArticle > section > div.homeDivTxtButton > div.btn > a > button:hover {
    letter-spacing: 2px;
    background-color: hsl(130, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(5, 117, 5) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: hsl(130, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(5, 117, 5) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }


/* =============== Estilo do Texto da Seção Inicial =============== */
main > article > section > div > div.homeDivTxt {
    font-size: 25px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

/* =============== Estilo da Barra de Onda =============== */
.wave {
    background-color: #E1FFDD;
    height: 100%;
}

/* =============== Animação de Digitação =============== */
.typing-animation {
    overflow: hidden; 
    white-space: nowrap; 
    border-right: .1em solid rgb(255, 255, 255); 
    width: 100%; 
    letter-spacing: .1em; 
    animation: typing 3s steps(40, end), blink-bar 1s step-end infinite;
}

/* =============== Destaque de Texto =============== */
.highlight-text {
    color: #2d492b; /* Escolha a cor desejada */
}

/* =============== Animação de Piscar da Barra =============== */
.blink-bar {
    animation: blink-bar 1s step-start infinite;
}

@keyframes blink-bar {
    50% {
        border-color: transparent;
    }
}

/* =============== Animação de Digitação =============== */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* =============== Estilo da Barra de Rolagem =============== */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: #6bdb43;
    border-radius: 5px;
}

/* =============== Responsividade =============== */
@media (max-width: 1000px) {
    main > article.homeArticle > .homeSection {
        gap: 0px;
    }
}

@media (max-width: 750px) {
    
    main > article.homeArticle > .homeSection {
        gap: 0px;
        padding: 0px;
    }

    main > article > section > div > div.homeDivTxt {
        font-size: 15px;
        white-space: nowrap;
    }

    article > section > div.imgHome > img {
        width: 250px;
    }
    main > article.homeArticle > section > div.homeDivTxtButton > div.btn button{
        padding-inline: 20px;
    }
}

@media (max-width: 690px) {

    main > article.homeArticle > .homeSection {
        display: grid;
        place-items: center;
    }

    main > article > section > div > div.homeDivTxt {
        font-size: 13px;
    }

    article > section > div.imgHome > img {
        width: 250px;
    }
    main > article.homeArticle > section > div.homeDivTxtButton > div.btn > a > button{
        inline-size: 200px;
    }
}
