@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 14px;
}


body::-webkit-scrollbar-thumb {
  background-color: #333;
}

body::-webkit-scrollbar-track {
  background-color: #222;
}

